@model Categries
  

@{
    Layout = "~/Views/Shared/_LayoutsAdmin.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card mt-5">
                <form asp-action="UpdateCategory" method="post">
                    <div class="row">
                        <input type="hidden" asp-for="Id" />
                        <div class="col">
                            <label class="form-label">اسم الفئة </label>
                            <input type="text" asp-for="Name" class="from-control" />

                        </div>
                        <div class="col">
                            <lable class="form-label">وصف الفئة</lable>
                            <input type="text" asp-for="Description" class="from-control" />

                        </div>

                    </div>


                    <div class="row">

                        <div class="col">
                            <label class="form-label">ايقون</label>
                            <input type="text" asp-for="Icon" class="from-control" />

                        </div>

                        <div class="col">
                            <label class="form-label">الرابط</label>
                            <input type="text" asp-for="Url" class="from-control" />

                        </div>


                    </div>


                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="btn-hover color-1">حفظ</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
