@model studium1
@{
    Layout = "~/Views/Shared/_LayoutsAdmin.cshtml";
}

<div class="container">

    <div class="card mt-5">
        <form asp-action="Updatestudium1" method="post" enctype="multipart/form-data">
            <div class="row">
                <input type="hidden" asp-for="Id" />

                <div class="col">
                    
                    <label class="form-label">اسم الملعب </label>
                    <input type="text" asp-for="Name" class="form-control" />

                </div>
                <div class="col">
                    <lable class="form-label"> سعة الملعب</lable>
                    <input type="text" asp-for="Capcity" class="form-control" />

                </div>

            </div>


            <div class="row">
                <div class="col">
                    <label class="form-label"> مدينة الملعب</label>
                    <input type="text" asp-for="city" class="form-control" />

                </div>
                <div class="col">
                    <label class="form-label">نوع الملعب </label>
                    <input type="text" asp-for="Type" class="form-control" />

                </div>



            </div>



            <div class="row">
                <div class="col">
                    <label class="form-label">الوقت و التاريخ</label>
                    <input type="text" asp-for="ConstractionDate" class="form-control" />

                </div>

                <div class="col">
                    <label class="form-label"> الراعي الرسمي</label>
                    <input type="text" asp-for="Owner" class="form-control" />

                </div>

            </div>

            <div class="row">
                <div class="col">
                    <label class="form-label">  طول الملعب</label>
                    <input type="text" asp-for="Length" class="form-control" />

                </div>
                <div class="col">
                    <label class="form-label">  عرض الملعب</label>
                    <input type="text"  asp-for="Width" class="form-control" />

                </div>

            </div>


            <div class="row">
                <div class="col">
                    <label class="form-label"> صورة الملعب</label>
                    <input type="file" name="photo" class="form-control" />

                </div>
                <div class="col">
                    <label class="form-label">  ارتفاع الملعب</label>
                    <input type="text" asp-for="Height" class="form-control" />

                </div>



            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label"> التفاصيل</label>
                    <input type="text" asp-for="Facility" class="form-control" />

                </div>
            </div>







            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn-hover color-1">حفظ</button>
                </div>
            </div>


        </form>



</div>
</div>
